.modal {
  position: absolute;
  z-index: 11000;
  color: #000;
  border-radius: 12px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .block {
    border: 1px solid gray;
    border-radius: 8px;
    width: 600px;
    height: 500px;
    background: #fff;
    position: absolute;
    bottom: 100px;

    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgb(172, 171, 171);
      padding: 15px;

      h3 {
        gap: 12px;
        font-weight: 400;
        text-align: center;
      }
      button {
        background: skyblue;
        padding: 10px;
        border-radius: 12px;
        border: none;
        color: white;
        font-weight: 600;
      }
    }

    .content {
      .step1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 80px;
      }

      .imageSlider {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        :global(.swiper-pagination-bullet) {
          background-color: white !important;
          opacity: 0.5;
        }

        :global(.swiper-pagination-bullet-active) {
          background-color: blue !important;
          opacity: 1;
        }

        .previewImage {
          width: 100%;
          object-fit: cover;
          height: 446px;
          border-radius: 0px 0px 8px 8px;
        }
      }

      .box {
        display: flex;
        .imgBlock {
          width: 320px;
          .foto3 {
            width: 100%;
            height: 432px;
          }
        }
        .textBlock {
          padding: 10px;
          display: flex;
          align-items: start;
          justify-content: start;
          flex-direction: column;
          .head {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
          }
        }
      }

      span {
        font-size: 100px;
      }
      h2 {
        font-size: 20px;
        font-weight: 400;
      }
      button {
        background: skyblue;
        padding: 10px;
        border-radius: 12px;
        border: none;
        color: white;
        font-weight: 600;
      }
    }
  }
}
