.LayoutSite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 20px 0;
  .block {
    display: flex;
  }
  main {
    width: 100%;
  }
  .auth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  footer {
    margin-top: auto;
  }
}
